/* selection dropdown */

.ul-container, .ul-r-container,
.beach-name-container, .beach-location-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.beach-ul-index {
    display: flex;
    width: 1400px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
}

.beachIndexPlate {
    background-color: rgb(226, 255, 250);
    border: 1px solid gray;
    width: 430px;
    margin: auto;
    padding: 3px;
    margin-top: 18px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
    transition: 0.7s;
}

.beachIndexPlate:hover {
    background-color: rgb(176, 255, 243);
}

.beach-name {
    font-size: 25px;
    font-weight: bold;
}

/* search bar */

.searchBarField {
    border: 1px solid black;
    width: 75%;
    height: 40px;
    font-size: 25px;
    background-color: azure;
    margin-left: -15px;
    margin-top: 9px;
    padding-left: 10px;
    transition: 1s;
}

.searchBarField:focus {
    background-color: white;
}

.search-bar-container {
    width: 50%;
}

.search-bar-form {
    display: flex;
}