/* beach show page */

/* containers */

.detail-center, .needlog-center, .review-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beach-container {
    justify-content: center;
    margin-top: 35px;
    background-color: rgb(194, 255, 218);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
    width: 680px;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.beach-name-container, .beach-detail-container {
    display: flex;
}

.beach-name-container {
    justify-content: center;
    margin-top: 5px;
}

.beach-detail-container {
    justify-content: space-between;
    margin-top: 10px;
}

.description-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* detail content */

.beach-show-location, .beach-show-name {
    font-size: 31px;
    font-weight: bold;
}

.beach-show-name {
    padding-left: 8px;
}

.beach-show-description, .beach-show-temperature, .beach-desc-t, 
.beach-temp-t,  .beach-show-crowd, .beach-crowd-t {
    font-size: 16px;
}

.beach-show-description, .beach-show-temperature, .beach-show-crowd {
    font-weight: normal;
    margin-top: -5px;
    margin-left: 22px;
    margin-right: 15px;
}

.beach-desc-t, .beach-temp-t, .beach-crowd-t {
    text-decoration: underline;
    color: rgb(153, 64, 226);
    margin-left: 15px;
    margin-right: 15px;
}

/* want to login? */

.needlog-container {
    background-color: rgb(226, 255, 250);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
    border-radius: 3px;
    margin-top: 25px;
    padding-bottom: 13px;
    padding-top: 12px;
}

.want-to-add {
    font-size: 20px;
    font-weight: bold;
    width: 243px;
    padding-left: 40px;
    padding-right: 20px;
}

.review-login-container {
    margin-top: 7px;
}