.developersFooter {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    background-color: rgb(97, 196, 230);
    width: 100%;
}

.developerNames {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.amazingDev {
    background-color: rgb(97, 196, 230);
    cursor: pointer;
    height: 90px;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amazingDev:hover {
    background-color: rgb(32, 164, 207);
}

.amazingDev:hover ul {
    transform: translateY(-300px);
}

.amazingDevName {
    font-size: 32px;
    font-weight: bold;
}

.onlineProfilesPannel {
    background-color: rgb(32, 164, 207);
    position: absolute;
    top: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-out;
    z-index: -1;
}

.linkedInLogo,
.gitHubLogo,
.angelListLogo {
    height: 60px;
    fill: rgb(255, 183, 50);
    margin: 20px 80px;
}