/* Navbar */

.main-nav, .auth-container, .greeting-container {
    display: flex;
    justify-content: space-between;
}

.main-nav {
    width: auto;
    height: 60px;
    z-index: 2;
    background-color: rgb(97, 196, 230);
    border-bottom: 0.1px solid rgb(6, 18, 22);
}

.nav-title {
    margin-top: 10px;
    padding-left: 45px;
    width: 40%;
    font-weight: bold;
}

/* when not logged in */

.auth-container {
    width: 240px;
}

.signup-but, .login-but, .logout-but {
    text-decoration: none;
    background-color: rgb(231, 171, 59);
    font-weight: bold;
    height: 30px;
    width: 50px;
    margin-top: 8px;
    padding-top: 12px;
    font-size: 16px;
    border-radius: 4px;
}

.signup-but:hover, .login-but:hover, .logout-but:hover {
    cursor: pointer;
    background-color: rgb(238, 183, 80);
    color: rgb(226, 224, 224);
}

.signup-but {
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 20px;
}

.login-but {
    margin-right: 35px;
    padding-left: 20px;
    padding-right: 15px;
}

/* when logged in */

.greeting-container {
    width: 320px;
}

.welcome-message {
    font-size: 22px;
    margin-top: 18px;
    width: 80%;
}

.logout-but {
    margin-top: 7.5px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    margin-right: 35px;
    padding-left: 15px;
    padding-right: 20px;
}