/* profile page */

/* profile sidebar */

.profile-container, .title-profile-container, .username-profile-container,
.p-center-content, .ul-r-profile, .thanks-container {
    display: flex;
}

.profile-container {
    justify-content: space-between;
}

.profile-sidebar {
    background-color: rgb(255, 129, 91);
    height: 100vh;
    width: 430px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.title-profile, .all-profile-reviews,
.no-profile-reviews, .username-profile,
.profile-thanks {
    font-weight: bold;
}

.title-profile-container, .username-profile-container,
.p-center-content, .ul-r-profile, .thanks-container {
    justify-content: center;
    align-items: center;
}

.title-profile-container {
    margin-top: 30px;
}

.username-profile-container {
    margin-top: 40px;
}

.title-profile {
    font-size: 46px;
    margin-left: -15px;
}

.username-profile {
    font-size: 30px;
    margin-left: -17px;
}

.all-profile-reviews, .no-profile-reviews,
.profile-thanks {
    background-color: rgb(226, 255, 250);
    font-size: 26px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
    font-weight: bold;
    border-radius: 3px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
}

/* profile content */
/* No profile reviews */

.no-profile-reviews {
    margin-top: 40px;
}

/* All reviews from user */

.p-center-content {
    width: 1250px;
}

.all-profile-reviews {
    margin-top: 20px;
}

.ul-r-profile {
    margin-top: 20px;
    width: 1250px;
}

.ul-profile {
    background-color: rgb(226, 255, 250);
    border-radius: 3px;
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
    padding-bottom: 15px;
}

.profile-thanks {
    font-size: 22px;
    margin-top: 40px;
}

/* hover effects */

.ul-profile {
    transition: 1s;
}

.ul-profile:hover {
    background-color: rgb(161, 255, 239);
}