/* Google Map */

.splash-container, .beach-show-container,
.profile-page-container {
    background-color: rgb(255, 255, 230);
}

.trade-mark-splash, .trade-mark-reviews {
    font-size: 28px;
}

.trade-mark-splash {
    margin-top: 1000px;
}

.trade-mark-reviews {
    margin-top: 700px;
}

.trade-mark-sessions {
    margin-top: 250px;
}

.miniImage {
    width: 100px;
    height: auto;
    margin-left: 3px;
    margin-right: 10px
}

.picTitleAligner {
    display: flex;
    align-content: space-between;
}